.chart-container {
  width: 80%;
  margin: auto;
}

.chart-select {
  width: 13rem;
}

label {
  font-size: .9rem;
}

.active-chart {
  background-color: black;
  color: white;
}

/* Highcharts style classes */
.y-axis {
  font-size: 1rem;
}