.revenue-chart {
  margin: auto;
  width: 90%;
}

.chart-select {
  width: 13rem;
}

.active-chart {
  background-color: black;
  color: white;
}

/* Highcharts style classes */
.y-axis {
  font-size: 1rem;
}